<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449009192391-5r3dkqs7jfg8a0dfrpga84vga7b0spv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449009192391-5r3dkqs7jfg8a0dfrpga84vga7b0spv8</string>
	<key>API_KEY</key>
	<string>AIzaSyDZk6xZAyrOCI--zuWSUhh7EetEzHs1g8A</string>
	<key>GCM_SENDER_ID</key>
	<string>449009192391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TotalLanguage.Vendor</string>
	<key>PROJECT_ID</key>
	<string>totallspvendor-6bd76</string>
	<key>STORAGE_BUCKET</key>
	<string>totallspvendor-6bd76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449009192391:ios:1d98a2ca0c1c190c</string>
	<key>DATABASE_URL</key>
	<string>https://totallspvendor-6bd76.firebaseio.com</string>
</dict>
</plist>